body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-top-20{
    margin-top:20px;
}
ul.nav li {
    font-family: calibri;
    font-weight: bold;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    font-variant-caps: all-small-caps;
    background-color: cornsilk;
    border-right: 1px solid black;
}

ul.nav {
    justify-content: center;
}

.navbar-link {
    font-family: calibri;
    font-weight: bold;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    font-variant-caps: all-small-caps;
    background-color: cornsilk;
    border-right: 1px solid black;
}
