<div class="margin-top-20">


    <ul class="row nav">
        <li class="col-md-3 navbar-link text-center">@Html.ActionLink("Home", "Index", "Home")</li>

        <li class=" col-md-3 navbar-link text-center">@Html.ActionLink("Category", "Index", "Home")</li>
        <li class="col-md-3 navbar-link text-center">@Html.ActionLink("Contact", "Index", "Home")</li>
        <li class="col-md-3 navbar-link text-center">@Html.ActionLink("About", "Index", "Home")</li>
    </ul>



</div>
